p {
    margin-bottom: 0.75em;
}
p a {
    text-decoration: underline;
}

a {
    color: #065f46;
}

button {
    color: #fff;
    background-color: #34d399;
    padding: 0.5em;
    border-radius: 0.5em;
}

header a,
nav a {
    color: #34d399;
}

a:hover {
    text-decoration: underline;
}

article ul {
    margin-bottom: 0.75em;
}

article li {
    list-style: circle;
    margin-left: 1em;
}

blockquote {
    border-left: 2px solid #6b7280;
    border-radius: 3px;
    padding-left: 1em;
    font-family: "Roboto Slab", "Open Sans", serif;
    font-style: italic;
}

h2 {
    font-weight: bold;
}

@media (min-width: 640px) {
    img {
        max-height: 320px;
    }
}
