name: Bluesky Post

on:
  workflow_run:
    workflows: ["thisispads.me.uk CI"]
    branches: ["master"]
    types: [completed]

jobs:
  publish:
    runs-on: ubuntu-latest
    if: "contains(github.event.workflow_run.head_commit.message, 'Merged on Decap CMS')"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Publish latest blog post
        run: node publish-bluesky.mjs
        env:
          BLUESKY_IDENTIFIER: ${{ secrets.BLUESKY_IDENTIFIER }}
          BLUESKY_PASSWORD: ${{ secrets.BLUESKY_PASSWORD }}
          HOST: ${{ vars.HOST }}

