name: thisispads.me.uk CI

on:
    push:
        branches: ["master"]
    pull_request:
        branches: ["master"]

jobs:
    test-and-deploy:
        runs-on: ubuntu-latest
        env:
            NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        strategy:
            matrix:
                node-version: [22.x]

        steps:
            - uses: actions/checkout@v4
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: "npm"
            - uses: browser-actions/setup-chrome@v2
              with:
                  chrome-version: latest
                  install-chromedriver: true
            - name: Link Netlify project to repo
              run: netlify link --name benpaddock
            - name: Pull Netlify environment variables
              run: netlify env:list --plain >> .env.local
            - run: npm ci
            - run: npm run build
            - run: npm run a11yci
            - run: npm test
            - run: netlify deploy --prod-if-unlocked
